<ion-content>
  <div class="wrappera">
    <div class="container">

      <div class="card border-0 shadow-sm mt-3">
        <div class="card-body">
          <div class="row ">
            <div class="col-4">
              <p class="text-secondary mb-1 small">Sub Total</p>
              <h5 class="mb-0">{{cartTotal | currency:"₹"}}</h5>
            </div>
            <div class="col-4 text-center">
              <p class="text-secondary mb-1 small">Delivery Charges</p>
              <h5 class="mb-0">{{deliveryCharge | currency:"₹"}}</h5>
            </div>
            <div class="col-4 text-right">
              <p class="text-secondary mb-1 small">Discount</p>
              <h5 class="mb-0">-₹0.00</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4 border-0 shadow-sm border-top-dashed">
        <div class="card-body text-center">
          <p class="text-secondary my-1">Net Payable</p>
          <h3 class="mb-0">{{cartTotal+deliveryCharge | currency:"₹"}}</h3>
        </div>
      </div>

      <p class="text-center text-secondary mb-0">Pay with</p>

      <div class="btn-group mt-4 w-100" role="group" aria-label="Basic example">
        <a class="btn btn-light active">Cash on Delivery</a>
        <a (click)="payViaUPI()" class="btn btn-light">PAY VIA UPI</a>
      </div>

      <h6 class="subtitle">Shipping Information</h6>
      <div class="form-group float-label" [ngClass]="userData.name.length>0?'active':''">
        <input type="text" class="form-control" required [(ngModel)]="userData.name" name="address">
        <label class="form-control-label">Name</label>
      </div>
      <div class="form-group float-label" [ngClass]="userData.email.length>0?'active':''">
        <input type="text" class="form-control card-type" required [(ngModel)]="userData.email">
        <label class="form-control-label">Email Id</label>
      </div>
      <div class="form-group float-label" [ngClass]="userData.phone.length>0?'active':''">
        <input type="text" maxlength="10" #sphone="ngModel" minlength="10" (keypress)="onlyNumbers($event)"
          autocomplete="off" class="form-control card-type" required [(ngModel)]="userData.phone">
        <label class="form-control-label">Mobile Number</label>
      </div>
      <div class="form-group float-label" [ngClass]="userData.address.length>0?'active':''">
        <input type="text" class="form-control card-type" required [(ngModel)]="userData.address" name="address">
        <label class="form-control-label">Address</label>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group float-label active">
            <input type="text" class="form-control" required [(ngModel)]="userData.subLocality" name="landmark">
            <label class="form-control-label">Landmark</label>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <div class="form-group float-label active">
                <input type="text" [(ngModel)]="userData.locality" class="form-control" required name="city">
                <label class="form-control-label">City</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group float-label active">
                <input type="text" class="form-control" [(ngModel)]="userData.postalCode" required name="postal_code">
                <label class="form-control-label">Zip Code</label>
              </div>
            </div>
          </div>


        </div>
      </div>


      <a href="thankyou.html" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow"><span>Place
          Order</span><i class="material-icons">arrow_forward</i></a>
      <br>
      <br>

    </div>
  </div>
</ion-content>