<ion-content>
  <div class="wrappera">
    <div class="container">

      <div class="card border-0 shadow-sm mt-3">
        <div class="card-body">
          <div class="row ">
            <div class="col-4">
              <p class="text-secondary mb-1 small">Sub Total</p>
              <h5 class="mb-0">₹242.00</h5>
            </div>
            <div class="col-4 text-center">
              <p class="text-secondary mb-1 small">Tax</p>
              <h5 class="mb-0">₹30.00</h5>
            </div>
            <div class="col-4 text-right">
              <p class="text-secondary mb-1 small">Discount</p>
              <h5 class="mb-0">₹272.00</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4 border-0 shadow-sm border-top-dashed">
        <div class="card-body text-center">
          <p class="text-secondary my-1">Net Payable</p>
          <h3 class="mb-0">₹272.00</h3>
        </div>
      </div>

      <p class="text-center text-secondary mb-0">Pay with</p>

      <div class="btn-group mt-4 w-100" role="group" aria-label="Basic example">
        <a href="checkout.html" class="btn btn-light active">Cash on Delivery</a>
        <a href="#" class="btn btn-light">PayPal</a>
      </div>

      <h6 class="subtitle">Shipping Information</h6>
      <div class="form-group float-label active">
        <input type="text" class="form-control" required="" value="Vinod Beloshe">
        <label class="form-control-label">Name</label>
      </div>
      <div class="form-group float-label active">
        <input type="text" class="form-control card-type" required="" value="8082495670">
        <label class="form-control-label">Mobile Number</label>
      </div>
      <div class="form-group float-label active">
        <input type="text" class="form-control card-type" required=""
          value="room no. 4, ram bharose chawl,waghoba wadi, tembhipada">
        <label class="form-control-label">Address</label>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group float-label active">
            <input type="text" class="form-control" required="" value="Pipe line">
            <label class="form-control-label">Landmark</label>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <div class="form-group float-label active">
                <input type="text" class="form-control" required="" value="Mumbai">
                <label class="form-control-label">City</label>
              </div>
            </div>
            <div class="col">
              <div class="form-group float-label active">
                <input type="text" class="form-control" required="" value="400078">
                <label class="form-control-label">Zip Code</label>
              </div>
            </div>
          </div>


        </div>
      </div>


      <a href="thankyou.html" class="btn btn-lg btn-default text-white btn-block btn-rounded shadow"><span>Pay
          Now</span><i class="material-icons">arrow_forward</i></a>
      <br>
      <br>

    </div>
  </div>
</ion-content>