<ion-app>
  <app-header></app-header>
  <div class="wrapper">
    <div class="header">
      <div class="row no-gutters">
        <div class="col-auto">
          <button (click)="openMenu()" class="btn  btn-link text-dark menu-btn"><img src="{{menuImg}}" alt=""><span
              class="new-notification"></span></button>
        </div>
        <div class="col text-center"><img src="assets/img/logo-header.png" alt="" class="header-logo"></div>
        <div class="col-auto">
          <a class="btn  btn-link text-dark">
            <img style="max-width:35px !important" src="assets/img/languages.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <ion-router-outlet></ion-router-outlet>

    <div class="footer">
      <div class="no-gutters">
        <div class="col-auto mx-auto">
          <div class="row no-gutters justify-content-center">
            <div class="col-auto">
              <a routerLink="/home" class="btn btn-link-default active">
                <i class="material-icons">store_mall_directory</i>
              </a>
            </div>
            <div class="col-auto">
              <a class="btn btn-link-default">
                <i class="material-icons">insert_chart_outline</i>
              </a>
            </div>
            <div class="col-auto">
              <a routerLink="/cart" class="btn btn-default shadow centerbutton">
                <i class="material-icons">local_mall</i>
              </a>
            </div>
            <div class="col-auto">
              <a class="btn btn-link-default">
                <i class="material-icons">favorite</i>
              </a>
            </div>
            <div class="col-auto">
              <a class="btn btn-link-default">
                <i class="material-icons">account_circle</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-app>