<ion-app>
  <app-header *ngIf="showHeader"></app-header>
  <div class="wrapper">
    <div *ngIf="showHeader" id="header" class="header">
      <div class="row no-gutters">
        <div class="col-auto">
          <button (click)="openMenu()" class="btn  btn-link text-dark menu-btn"><img src="{{menuImg}}" alt=""><span
              class="new-notification"></span></button>
        </div>
        <div class="col text-center"><img src="assets/img/logo-header.png" alt="" class="header-logo"></div>
        <div class="col-auto">
          <!-- <a class="btn  btn-link text-dark">
            <img style="max-width:35px !important" src="assets/img/languages.png" alt="">
          </a> -->
          <div class="dropdown" [ngClass]="showLangDropdown?'show':''">
            <a (click)="openLanguage()" class="btn  btn-link dropdown-toggle text-dark" id="dropdownMenuButton2"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img style="max-width:35px !important" src="assets/img/languages.png" alt="">
            </a>
            <div class="dropdown-menu no-arrows" [ngClass]="showLangDropdown?'show':''">
              <a (click)="changeLanguage('ma')" class="dropdown-item">मराठी</a>
              <div class="dropdown-divider"></div>
              <a (click)="changeLanguage('en')" class="dropdown-item">English</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-router-outlet></ion-router-outlet>

    <div *ngIf="showHeader" class="footer">
      <div class="no-gutters">
        <div class="col-auto mx-auto">
          <div class="row no-gutters justify-content-center">
            <div class="col-auto">
              <a (click)="changeRoute('home')" class="btn btn-link-default"
                [ngClass]="selectedMenu=='home'?'active':''">
                <i class="material-icons">store_mall_directory</i>
              </a>
            </div>
            <div class="col-auto">
              <a (click)="changeRoute('orders')" class="btn btn-link-default"
                [ngClass]="selectedMenu=='orders'?'active':''">
                <i class="material-icons">insert_chart_outline</i>
              </a>
            </div>
            <div class="col-auto">
              <a (click)="changeRoute('cart')" [ngClass]="selectedMenu=='cart'?'active':''"
                class="btn btn-default shadow centerbutton">
                <i class="material-icons">local_mall</i>
                <span class="cart_counter">{{cartCount}}</span>
              </a>
            </div>
            <div class="col-auto">
              <a (click)="changeRoute('whishlist')" class="btn btn-link-default"
                [ngClass]="selectedMenu=='whishlist'?'active':''">
                <i class="material-icons">favorite</i>
              </a>
            </div>
            <div class="col-auto">
              <a (click)="changeRoute('profile')" class="btn btn-link-default"
                [ngClass]="selectedMenu=='profile'?'active':''">
                <i class="material-icons">account_circle</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- notification -->
  <div class="notification bg-white shadow border-primary" [ngClass]="isNotification?'active':''">
    <div class="row">
      <!-- <div class="col-auto align-self-center pr-0">
              <i class="material-icons text-primary md-36">fullscreen</i>
          </div> -->
      <div class="col">
        <!-- <h6>Viewing in Phone?</h6> -->
        <p class="mb-0 text-secondary">{{notificationMessage}}</p>
      </div>
      <!-- <div class="col-auto align-self-center pl-0">
        <button class="btn btn-link closenotification"><i
            class="material-icons text-secondary text-mute md-18 ">close</i></button>
      </div> -->
    </div>
  </div>
  <!-- notification ends -->

  <ng-progress [positionUsing]="'marginLeft'" [color]="'#ddd'" [min]="8" [max]="100"
    [direction]="'leftToRightIncreased'" [trickleSpeed]="50000000" [thick]="false" [ease]="'easeInSine'">

  </ng-progress>
</ion-app>